*{
    margin: 0;
}
body{
    background: linear-gradient(to top, #00312b 10%, #009c8a 100%);
    height: 100vh;
}
header{
    width: 100%;
    height: 27px;
    background-color: #006e61;
    position: fixed;
    z-index: 10;
}
.Gmail-contact{
    height: 20px;
    width: 200px;
    position: fixed;
    top: 3px;
    left: 45px;
}
.Gmail-icon{
    height: 32px;
    position: relative;
    top: -4.5px;
    left: -25px;
}
.Gmail{
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 12px;
    top: -33.5px;
    left: 35px;
}
.Back-button{
    height: 20px;
    width: 20px;
    background-color: transparent;
    position: fixed;
    top: 53px;
    left: 50px;
    font-size: 10px;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    border-color: transparent;
    transition: ease 0.2s;
    border-radius: 50px;
}
.Back-button:hover{
    opacity: 0.5;
    rotate: 20deg;
    box-shadow: 0 0 25px #ffffff;
}
main{
    background-color: #008374;
    width: 100%;
    height: 400px;
    position: relative;
    box-shadow: 0 0 15px rgb(0, 49, 38);
}
.boy{
    height: 220px;
    position: relative;
    top: 100px;
    left: 50px;
}
.girl{
    height: 210px;
    position: absolute;
    top: 110px;
    right: 5%;
}
.Infocontainer{
    margin: -110px auto;
    height: 190px;
    width: 45%;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: white;
}
.Infotitle{
    height: 20px;
    width: 90%;
    margin: 5px auto;
}
.Info{
    height: 120px;
    width: 90%;
    margin: 15px auto;
}
.EpisodeContainer{
    margin: -100px auto;
    height: 160px;
    width: 50%;
    position: relative;
    color: white;
}
.part{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    background-color: #006e61;
    cursor: pointer;
}

.second{
    position: absolute;
    top: 45px;
}
.EpisodeContainer img{
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5.5px;
}
.EpisodeContainer p{
    position: absolute;
    left: 45px;
    top: 11px;
    font-weight: bolder;
    font-size: 11px;
    color: white;
}
.part:hover{
    background-color: white;
    color: #006e61;
    transition: ease 0.3s;
}
.part:hover p{
    color: #006e61;
}
@media (max-width:900px){
    .Images img{
        height: 150px;
    }
}
@media (max-width:640px){
    .Images img{
        height: 115px;
        top: 270px;
    }
    .boy{
        left: 5%;
    }
    .Infocontainer{
        margin: -10px auto;
        width: 100%;
    }
}
@media (max-width:550px){
    .Images img{
        height: 75px;
        top: 270px;
    }
    .boy{
        left: 5%;
    }
    .Infocontainer{
        margin: -10px auto;
        width: 100%;
    }
}



